{% extends 'base.html' %}
{% block content %}


<h1>About Us</h1>
<div class="information_card_container">
<div class="information_card_apartment">
  <div class="information_card_title">
    <h2>Anthony Talarico</h2>
  </div>
  <div class="information_card_description">
    <div class="about_us_grid">
      <img class="about_us_profile" src="https://i.imgur.com/k1Op4iQ.jpg" alt="">
      <div><img src="https://i.imgur.com/8F55Xqd.png" class="icon" alt=""><a href="https://www.linkedin.com/in/anthony-talarico/">linkedin</a></div>
      <div><img src="https://i.imgur.com/el3CN4g.png" class="icon" alt=""><a href="https://github.com/AntTal13">github</a></div>
    </div>
  </div>
</div>


<div class="information_card_apartment">
  <div class="information_card_title">
    <h2>Shaleik Cabreja</h2>
  </div>
  <div class="information_card_description">
    <div class="about_us_grid">
      <img class="about_us_profile" src="https://i.imgur.com/g8QPVBI.jpg" alt="">
      <div><img src="https://i.imgur.com/8F55Xqd.png" class="icon" alt=""><a href="https://www.linkedin.com/in/shaleikcabreja/">linkedin</a></div>
      <div><img src="https://i.imgur.com/el3CN4g.png" class="icon" alt=""><a href="https://github.com/Shaleik9">github</a></div>
    </div>
  </div>
</div>
  

<div class="information_card_apartment">
  <div class="information_card_title">
    <h2>James Milster</h2>
  </div>
  <div class="information_card_description">
    <div class="about_us_grid">
      <img class="about_us_profile" src="https://i.imgur.com/jIWtGwt.jpg" alt="">
      <div><img src="https://i.imgur.com/8F55Xqd.png" class="icon" alt=""><a href="https://www.linkedin.com/in/james-milster/">linkedin</a></div>
      <div><img src="https://i.imgur.com/el3CN4g.png" class="icon" alt=""><a href="https://github.com/jmilster0731">github</a></div>
    </div>
  </div>
</div>
</div>

{% endblock %}