{% extends 'base.html' %} 
{% block content %}

<div class="amenities">
  <h1>HONEY BADGER TOWERS OFFERS AMENITIES<br>FOR A LIFE BEYOND IMAGINING</h1> 


  <div class="grid-container">
    <div class="grid-item image-block1">
      <img src="https://i.imgur.com/IiUSlE3.jpeg" />
      <span>GRAND LOUNGE</span>
    </div>

    <div class="grid-item image-block2">
      <img src="https://i.imgur.com/4ZvqjZO.jpg" />
      <span>ROOFTOP POOL</span>
    </div>

    <div class="grid-item image-block3">
      <img src="https://i.imgur.com/AvSTeY6.jpg" />
      <span>STATE-OF-THE-ART FITNESS FACILITY</span>
    </div>

    <div class="grid-item image-block5">
      <img src="https://i.imgur.com/JAB1wNi.jpg" />
      <span>INDOOR SWIMMING POOL</span>
    </div>

    <div class="grid-item image-block7">
      <img src="https://i.imgur.com/Y1hxZRa.jpeg" />
      <span>LOBBY</span>
    </div>

    <div class="grid-item image-block8">
      <img src="https://i.imgur.com/e9GLLVx.jpg" />
      <span>OUTDOOR BAR & LOUNGE</span>
    </div>
  </div>
</div>

{% endblock %}
