{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>myPlace</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
    <ul class="my_place_nav_bar">
        <li class="my_place_nav_item"><a href="{% url 'home' %}" class="my_place_nav_a">Home</a></li>
        <li class="my_place_nav_item"><a href="{% url 'units' %}" class="my_place_nav_a">Available Units</a></li>
        <li class="my_place_nav_item"><a href="{% url 'amenities' %}" class="my_place_nav_a">Amenities</a></li>
        {% if user.is_authenticated %}
            <li class="my_place_nav_item float_right"><a href="{% url 'logout' %}" class="my_place_nav_a">LOG OUT</a></li>
            <li class="my_place_nav_item float_right"><a href="PLACEHOLDER FOR PROFILE" class="my_place_nav_a">Profile</a></li>
        {% else %}
        <li class="my_place_nav_item float_right"><a href="{% url 'apply' %}" class="my_place_nav_a">Apply Here Today!</a></li>
            <li class="my_place_nav_item float_right"><a href="{% url 'login' %}" class="my_place_nav_a">LOG IN</a></li>
        {% endif %}
    </ul>

<body>
    {% block content %}
    {% endblock %}
</body>

    <ul class="my_place_footer_bar">
        <li class="my_place_nav_item float_right"><a href="{% url 'about' %}" class="my_place_nav_a">About Us</a></li>
        <li class="my_place_nav_item float_right">Created by HoneyBadger Co.</li>
    </ul>

</html>