{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>myPlace</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
    <ul class="my_place_nav_bar">
        <a href="{% url 'home' %}" class="my_place_nav_a"><li class="my_place_nav_item">Home</li></a>
        <a href="{% url 'units' %}" class="my_place_nav_a"><li class="my_place_nav_item">Available Units</li></a>
        <a href="{% url 'amenities' %}" class="my_place_nav_a"><li class="my_place_nav_item">Amenities</li></a>
        {% if user.is_authenticated %}
            <a href="{% url 'logout' %}" class="my_place_nav_a"><li class="my_place_nav_item float_right">LOG OUT</li></a>
            {% if user_profile %}
            <a href="{% url 'profile' user.id %}" class="my_place_nav_a"><li class="my_place_nav_item float_right">Profile</li></a>
            {% else %}
            <a href="{% url 'UserProfileCreate' %}" class="my_place_nav_a"><li class="my_place_nav_item float_right">Create User Profile</li></a>
            {% endif %}
        {% else %}
            <a href="{% url 'login' %}" class="my_place_nav_a"><li class="my_place_nav_item float_right">LOG IN</li></a>
        {% endif %}
    </ul>

<body>
    {% block content %}
    {% endblock %}
</body>

    <ul class="my_place_footer_bar">
        <a href="{% url 'about' %}" class="my_place_nav_a"><li class="my_place_nav_item float_right">About Us</li></a>
        <li class="my_place_nav_item float_right">Created by HoneyBadger Co.</li>
    </ul>

</html>