@import url("https://fonts.googleapis.com/css2?family=Londrina+Shadow&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgba(236, 236, 236);
}

.my_place_nav_bar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  float: top;
}
.my_place_nav_item {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.my_place_footer_item {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 5px 5px;
  text-decoration: none;
}
.float_right {
  float: right;
}
.my_place_footer_bar {
  background-color: #333;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
}
.my_place_nav_item:hover {
  background-color: green;
}
.my_place_nav_a {
  text-decoration: none;
  color: inherit;
}
.home_page_image_slideshow {
  height: 600px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: 100%;
  animation-name: home_page_image_slideshow;
  animation-duration: 20s;
  animation-iteration-count: infinite;
}
.my_place_logo_landing_page {
  position: relative;
  height: 300px;
  width: 300px;
  margin: auto;
  border-radius: 50%;
  top: -150px;
  border: solid 5px #333;
  overflow: hidden;
}
.logo_image {
  width: 100%;
}
.border_div {
  position: relative;
  height: 5px;
  width: 100%;
  background-color: #333;
}
@keyframes home_page_image_slideshow {
  0%,
  100% {
    background-image: url("https://images.pexels.com/photos/2662116/pexels-photo-2662116.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  }
  25% {
    background-image: url("https://images.pexels.com/photos/2325446/pexels-photo-2325446.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  }
  50% {
    background-image: url("https://images.pexels.com/photos/2387418/pexels-photo-2387418.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  }
  75% {
    background-image: url("https://images.pexels.com/photos/1287145/pexels-photo-1287145.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  }
}
.nav_page_title {
  position: relative;
  float: top;
  width: 100%;
  text-align: center;
  padding-top: 15px;
  font-family: "Londrina Shadow", cursive;
  font-weight: bold;
  font-size: 5em;
}

.container {
  width: 80%;
  margin: auto;
}

.information_card_apartment {
  width: 80%;
  border-radius: 25px;
  margin: 20px auto 0 auto;
  border: 1px solid black;
  overflow: hidden;
  box-shadow: 2px 2px;
}

.information_card_image {
  height: 200px;
  width: 200px;
  margin-left: 10px;
  border-radius: 25px;
}

.information_card_title {
  width: 100%;
  background: rgba(180, 180, 180);
  margin: 0;
  margin-bottom: 10px;
  padding: 5px 0 0 25px;
}

.information_card_description {
  padding: 20px;
}

.information_card_flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.information_card_availability {
  float: right;
  margin: 0px 25px 10px 0px;
}

.green {
  color: green;
}

.red {
  color: red;
}

.profile_card_grid {
  display: grid;
  margin: 10px;
  grid-template-columns: 1.5fr 8.5fr;
  row-gap: 5px;
}

.info_padding {
  padding: 10px;
}

.button_div {
  padding: 10px;
  text-decoration: none;
  color: Black;
  border-radius: 10px;
  border: solid black 2px;
  transition: background-color 0.5s ease;
  transition: color 0.6s ease;
}

.button_div:hover {
  background-color: green;
  cursor: pointer;
  color: white;
}