@import url("https://fonts.googleapis.com/css2?family=Londrina+Shadow&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgba(236, 236, 236);
}

.my_place_nav_bar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  float: top;
}

.my_place_admin_bar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #f55f5f;
  float: top;
}

.my_place_admin_item {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}



.my_place_nav_item {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.my_place_footer_item {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 5px 5px;
  text-decoration: none;
}
.float_right {
  float: right;
}
.my_place_footer_bar {
  background-color: #333;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
}
.my_place_nav_item:hover {
  background-color: green;
}

.my_place_nav_item_no_hover {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.float_left {
  float: left;
}

.my_place_nav_a {
  text-decoration: none;
  color: inherit;
}

.home_page_image_slideshow {
  height: 600px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: 100%;
  animation-name: home_page_image_slideshow;
  animation-duration: 20s;
  animation-iteration-count: infinite;
}
.my_place_logo_landing_page {
  position: relative;
  height: 300px;
  width: 300px;
  margin: auto;
  border-radius: 50%;
  top: -150px;
  border: solid 5px #333;
  overflow: hidden;
}
.logo_image {
  width: 100%;
}
.border_div {
  position: relative;
  height: 5px;
  width: 100%;
  background-color: #333;
}
@keyframes home_page_image_slideshow {
  0%,
  100% {
    background-image: url("https://i.imgur.com/8PviNCG.jpg");
  }
  25% {
    background-image: url("https://i.imgur.com/jYhHfNl.jpg");
  }
  50% {
    background-image: url("https://i.imgur.com/PFUNWZN.jpg");
  }
  75% {
    background-image: url("https://i.imgur.com/ciVlNOL.jpg");
  }
}
.nav_page_title {
  color: rgb(255,255,255);
  text-shadow: 3px 3px black;
  position: relative;
  float: top;
  text-align: center;
  padding-top: 15px;
  font-family: "Londrina Shadow", cursive;
  font-weight: bold;
  font-size: 5em;
}

.container {
  width: 80%;
  margin: auto;
}

.information_card_apartment {
  width: 80%;
  border-radius: 25px;
  margin: 20px auto 0 auto;
  border: 1px solid black;
  overflow: hidden;
  box-shadow: 2px 2px;
}

.information_card_image {
  height: 200px;
  width: 200px;
  margin-left: 10px;
  border-radius: 25px;
}

.information_card_title {
  width: 100%;
  background: rgba(180, 180, 180);
  margin: 0;
  margin-bottom: 10px;
  padding: 5px 0 0 25px;
}

.information_card_description {
  padding: 20px;
}

.information_card_flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.information_card_availability {
  float: right;
  margin: 0px 25px 10px 0px;
}

.green {
  color: green;
}

.red {
  color: red;
}

.profile_card_grid {
  display: grid;
  margin: 10px;
  grid-template-columns: 1.5fr 8.5fr;
  row-gap: 5px;
}

.info_padding {
  padding: 10px;
}

.button_div {
  padding: 10px;
  text-decoration: none;
  color: Black;
  border-radius: 10px;
  border: solid black 2px;
  transition: background-color 0.5s ease;
  transition: color 0.6s ease;
}

.button_div:hover {
  background-color: green;
  cursor: pointer;
  color: white;
}

.large_button {
  background-color: white;
  border-radius: 25px;
  width: 80%;
  color: black;
  border: 2px black solid;
  font-size: 20px;
  text-align: center;
  padding: 5px;
  text-decoration: none;
  margin: 10px auto 5px auto;
}

.large_button:hover {
  background-color: black;
  color: white;
  border: 2px white solid;
}

.maint_item_profile {
  padding: 4px;
  text-decoration: none;
  margin: 5px 5px 10px 25px;
  color: black;
  font-size: medium;
}

.maint_item_profile:hover {
  color:blue;
  font-size: Large;
}

.amenities {
  background-color: #000;
  color: #fff;
  min-height: 100vh;
  margin: 0;
  padding-bottom: 60px;
}

.amenities h1 {
  padding-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.amenities .grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.amenities .grid-item {
  position: relative;
}

.amenities .grid-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.amenities .grid-item span {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: rgb(255,255,255);
  padding: 5px 10px;
  font-size: 14px;
}

.tenantsInfo {
  background-color: rgb(245, 245, 245);
  border: 1px solid rgb(224, 224, 224);
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  margin: 20px;
  padding: 20px;
}

.tenantsInfo .title {
  font-size: 24px;
  margin-bottom: 10px;
}

.tenantsInfo .total {
  font-size: 16px;
  margin-bottom: 20px;
}

.tenantsInfo .tenants {
  border-collapse: collapse;
  width: 100%;
}

.tenantsInfo .header {
  background-color: rgb(224, 224, 224);
  border: 1px solid rgb(192, 192, 192);
  font-size: 14px;
  font-weight: bold;
  padding: 10px;
  text-align: center;
}

.tenantsInfo tbody tr:nth-child(even) {
  background-color: rgb(236, 235, 235);
}

.tenantsInfo tbody tr:hover {
  background-color: rgb(202, 201, 201);
}

.tenantsInfo td {
  font-size: 14px;
  padding: 10px;
  font-family: math;
}

.apartmentList {
  background-color: rgb(245, 245, 245);
  border: 1px solid rgb(224, 224, 224);
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  margin: 20px;
  padding: 20px;
}

.apartmentList .title {
  font-size: 24px;
  margin-bottom: 10px;
}

.apartmentList .apartments {
  border-collapse: collapse;
  width: 100%;
}

.apartmentList .header {
  background-color: rgb(224, 224, 224);
  border: 1px solid rgb(192, 192, 192);
  font-size: 14px;
  font-weight: bold;
  padding: 10px;
  text-align: left;
}

.apartmentList tbody tr:nth-child(even) {
  background-color: rgb(236, 235, 235);
}

.apartmentList tbody tr:hover {
  background-color: rgb(202, 201, 201);
}

.apartmentList td {
  font-size: 14px;
  padding: 10px;
  font-family: math;
}

.apartmentList .removeButton {
  background-color: rgb(255, 0, 0);
  color: rgb(255,255,255);
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
}

.apartmentList .removeButton:hover {
  background-color: rgb(122, 0, 0);
}

.unassignedApplicants {
  background-color: #f2f2f2;
  padding: 20px;
}

.unassignedApplicants h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.unassignedList {
  list-style: none;
  margin: 0;
  padding: 0;
}

.unassignedItem {
  background-color: #fff;
  border: 1px solid #ddd;
  margin-bottom: 10px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: math;
  font-size: 18px;
  font-weight: bold;
}

.unassignedItem:last-child {
  margin-bottom: 0;
}

.assignForm {
  display: flex;
  flex-direction: column;
}

.assignSelect {
  margin-right: 10px;
}

.assignButton {
  margin-top: 10px;
}

.assignButton input[type="submit"] {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
}

.assignButton input[type="submit"]:hover {
  background-color: #3e8e41;
}

.about_us_grid {
  display: grid;
  width: 100%;
  grid-template-columns: 2fr 8fr;
}

.about_us_profile {
  grid-row: 1/3;
  border-radius: 25px;
  width: 100%;
}

.icon {
  max-width: 20px;
  height: auto;
  margin-right: 10px;
  margin-left: 20px;
}

.information_card_container {
  margin: 60px;
}